<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>PHYSICSNETWORK</name>

    <description>
        Desenvolvido por alunos do 3° ano de informática da E.E.E.P José de Barcelos - 2016
    </description>

    <author href="https://www.facebook.com/keven.max.94" email="kmax136@gmail.com">
        Keven Max
    </author>
      <icon src="img/connection.png" />

</widget>